body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#propertyForm {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
select,
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

select {
    cursor: pointer;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Optional margin between the button and h1 */
}

.my-properties-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-right: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-property-heading {
    margin-left: 45%;
    font-weight: bold;
    font-size: 28px;
}

.my-properties-button:hover {
    background-color: #0056b3;
}


/* Adjustments for different screen sizes */
@media screen and (max-width: 768px) {
    #propertyForm {
        width: 90%;
    }
}
